/* Root Variables */
:root {
  --body-color: #fffaf3;
  --title-color: #2e2a27;
  --accent-color: #f8b84e;
  --primary-button: #d96b27;
  --primary-hover: #c3591a;
  --visit-button: #91b340;
  --visit-hover: #7c9c28;
  --delete-button: #e03e4c;
  --delete-hover: #c9212e;
}

/* Global Styles*/
body {
  background-color: var(--body-color);
}

::selection {
  background-color: #fec260;
  color: #000;
}

/* Title Styles*/
.main-title {
  font-family: "Pacifico", cursive;
  color: var(--title-color);
  font-size: 48px;
  position: relative;
  display: inline-block;
}

.main-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  z-index: -1;
  transition: 0.3s ease;
}

.main-title:hover::before {
  height: 60%;
}

/*  Section Header */
.highlighted-text {
  font-family: "Righteous", cursive;
  color: #2a684b;
  padding: 3px 8px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.highlighted-text::selection {
  background-color: #d1512d;
  color: #fff;
}

/* Form Labels & Inputs*/
.label-text-style {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 600;
}

/* Form Buttons*/
.btn-submit {
  background-color: var(--primary-button);
  color: white;
  padding: 6px 40px;
  border: none;
  font-weight: 500;
}

.btn-submit:hover {
  background-color: var(--primary-hover);
}

.btn-visit {
  background-color: var(--visit-button);
  color: white;
}

.btn-visit:hover {
  background-color: var(--visit-hover);
}

.btn-delete {
  background-color: var(--delete-button);
  color: white;
}

.btn-delete:hover {
  background-color: var(--delete-hover);
}

/*  Borders & Containers */
.outer-dashed {
  border-top: 2px dashed var(--title-color);
  border-bottom: 2px dashed var(--title-color);
}

/* Modal Styles*/
.modal-content {
  border-radius: 16px;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-title i {
  color: #dc3545;
}

.modal-body p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  color: #333;
}

.modal-body ul li {
  font-size: 15px;
  color: #444;
}
